In [1]:
#pip install neo4j

In [2]:
from neo4j import GraphDatabase

In [3]:
NEO4J_URI     = 'neo4j+s://264d8780.databases.neo4j.io'
NEO4J_USERNAME= 'neo4j'
NEO4J_PASSWORD= '5l2648jhBn6kzOFi_XcK_yzYCVFzZIpoOPW7xp7M_Ss'
AURA_INSTANCEID= '264d8780'
AURA_INSTANCENAME = 'Instance01'

In [18]:
# Connect to the Neo4j AuraDB Free instance
class AuraDBConnection:
    def __init__(self, uri, user, password):
        self.driver = GraphDatabase.driver(uri, auth=(user, password))
    
    def close(self):
        if self.driver:
            self.driver.close()
    
    def execute_query(self, query):
        with self.driver.session() as session:
            return session.run(query).data()

In [19]:
# Initialize connection
aura_db = AuraDBConnection(NEO4J_URI, NEO4J_USERNAME, NEO4J_PASSWORD)

In [20]:
def delete_all_nodes_and_relationships():
    query = """
    MATCH (n)
    DETACH DELETE n
    """
    with driver.session() as session:
        session.run(query)
    print("All nodes and relationships deleted.")

# Call the function
delete_all_nodes_and_relationships()

All nodes and relationships deleted.

In [21]:
query = "MATCH (n) RETURN COUNT(n) AS node_count"

result = aura_db.execute_query(query)

print("Number of nodes in the database:", result)

Number of nodes in the database: [{'node_count': 0}]

In [22]:
# Run a sample query
query = "MATCH (n) RETURN n LIMIT 5"
result = aura_db.execute_query(query)

In [23]:
# Print results
print("Query Results:", result)

Query Results: []

In [24]:
driver = GraphDatabase.driver(NEO4J_URI, auth=(NEO4J_USERNAME, NEO4J_PASSWORD))

In [25]:
def add_person_and_movie(tx, person_name, person_age, movie_title, movie_year):
    query = (
        f"CREATE (p:Person {{name:  '{person_name}', age: {person_age}}}) "
        f"CREATE (m:Movie  {{title: '{movie_title}', released: {movie_year}}}) "
        f"CREATE (p)-[:LIKES]->(m)"
    )
    tx.run(query)

In [26]:
# Run the query within a session
with driver.session() as session:
    session.execute_write(add_person_and_movie, "John", 30, "Inception", 2010)

In [27]:
def add_multiple_nodes_and_relationships(tx):
    query = (
        "CREATE (p1:Person {name: 'Alice', age: 25}), "
               "(p2:Person {name: 'Bob', age: 28}), "
               "(m1:Movie {title: 'Inception', released: 2010}), "
               "(m2:Movie {title: 'The Matrix', released: 1999}), "
               "(p1)-[:LIKES]->(m1), "
               "(p2)-[:LIKES]->(m2), "
               "(p1)-[:FRIENDS_WITH]->(p2)"
    )
    tx.run(query)

In [28]:
def add_rated_relationship(tx, person_name, movie_title, rating):
    query = (
        f"MATCH (p:Person {{name: '{person_name}'}}), "
        f"(m:Movie {{title: '{movie_title}'}}) "
        f"CREATE (p)-[:RATED {{rating: {rating}}}]->(m)"
    )
    tx.run(query)

In [29]:
# Running the queries within a session
with driver.session() as session:
    session.execute_write(add_person_and_movie, "John", 30, "Inception", 2010)
    session.execute_write(add_person_and_movie, "Alice", 25, "The Matrix", 1999)
    session.execute_write(add_multiple_nodes_and_relationships)
    session.execute_write(add_rated_relationship, "Charlie", "Inception", 8.5)

In [30]:
query = "MATCH (n) RETURN COUNT(n) AS node_count"
result = driver.execute_query(query)
print("Number of nodes in the database:", result)

Number of nodes in the database: EagerResult(records=[<Record node_count=10>], summary=<neo4j._work.summary.ResultSummary object at 0x000002946B43E540>, keys=['node_count'])

In [31]:
def view_all_nodes(tx):
    query = "MATCH (n) RETURN n LIMIT 25"
    result = tx.run(query)
    for record in result:
        print(record['n'])

In [32]:
# Run the query to view all nodes
with driver.session() as session:
    session.execute_read(view_all_nodes)

<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:0' labels=frozenset({'Person'}) properties={'name': 'John', 'age': 30}>
<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1' labels=frozenset({'Movie'}) properties={'title': 'Inception', 'released': 2010}>
<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:2' labels=frozenset({'Person'}) properties={'name': 'John', 'age': 30}>
<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:3' labels=frozenset({'Movie'}) properties={'title': 'Inception', 'released': 2010}>
<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:4' labels=frozenset({'Person'}) properties={'name': 'Alice', 'age': 25}>
<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:5' labels=frozenset({'Movie'}) properties={'title': 'The Matrix', 'released': 1999}>
<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:6' labels=frozenset({'Person'}) properties={'name': 'Alice', 'age': 25}>
<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:7' labels=frozenset({'Person'}) properties={'name': 'Bob', 'age': 28}>
<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:8' labels=frozenset({'Movie'}) properties={'title': 'Inception', 'released': 2010}>
<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:9' labels=frozenset({'Movie'}) properties={'title': 'The Matrix', 'released': 1999}>

In [33]:
def view_nodes_and_relationships(tx):
    query = "MATCH (n)-[r]->(m) RETURN n, r, m LIMIT 25"
    result = tx.run(query)
    for record in result:
        print(f"Node: {record['n']}, Relationship: {record['r']}, Related Node: {record['m']}")

In [34]:
# Run the query to view nodes and relationships
with driver.session() as session:
    session.execute_read(view_nodes_and_relationships)

Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:0' labels=frozenset({'Person'}) properties={'name': 'John', 'age': 30}>, Relationship: <Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1152921504606846976' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:0' labels=frozenset({'Person'}) properties={'name': 'John', 'age': 30}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1' labels=frozenset({'Movie'}) properties={'title': 'Inception', 'released': 2010}>) type='LIKES' properties={}>, Related Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1' labels=frozenset({'Movie'}) properties={'title': 'Inception', 'released': 2010}>
Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:2' labels=frozenset({'Person'}) properties={'name': 'John', 'age': 30}>, Relationship: <Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1152921504606846978' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:2' labels=frozenset({'Person'}) properties={'name': 'John', 'age': 30}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:3' labels=frozenset({'Movie'}) properties={'title': 'Inception', 'released': 2010}>) type='LIKES' properties={}>, Related Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:3' labels=frozenset({'Movie'}) properties={'title': 'Inception', 'released': 2010}>
Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:4' labels=frozenset({'Person'}) properties={'name': 'Alice', 'age': 25}>, Relationship: <Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1152921504606846980' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:4' labels=frozenset({'Person'}) properties={'name': 'Alice', 'age': 25}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:5' labels=frozenset({'Movie'}) properties={'title': 'The Matrix', 'released': 1999}>) type='LIKES' properties={}>, Related Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:5' labels=frozenset({'Movie'}) properties={'title': 'The Matrix', 'released': 1999}>
Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:6' labels=frozenset({'Person'}) properties={'name': 'Alice', 'age': 25}>, Relationship: <Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1152921504606846982' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:6' labels=frozenset({'Person'}) properties={'name': 'Alice', 'age': 25}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:8' labels=frozenset({'Movie'}) properties={'title': 'Inception', 'released': 2010}>) type='LIKES' properties={}>, Related Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:8' labels=frozenset({'Movie'}) properties={'title': 'Inception', 'released': 2010}>
Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:6' labels=frozenset({'Person'}) properties={'name': 'Alice', 'age': 25}>, Relationship: <Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1152922604118474758' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:6' labels=frozenset({'Person'}) properties={'name': 'Alice', 'age': 25}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:7' labels=frozenset({'Person'}) properties={'name': 'Bob', 'age': 28}>) type='FRIENDS_WITH' properties={}>, Related Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:7' labels=frozenset({'Person'}) properties={'name': 'Bob', 'age': 28}>
Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:7' labels=frozenset({'Person'}) properties={'name': 'Bob', 'age': 28}>, Relationship: <Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1152921504606846983' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:7' labels=frozenset({'Person'}) properties={'name': 'Bob', 'age': 28}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:9' labels=frozenset({'Movie'}) properties={'title': 'The Matrix', 'released': 1999}>) type='LIKES' properties={}>, Related Node: <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:9' labels=frozenset({'Movie'}) properties={'title': 'The Matrix', 'released': 1999}>

#### loading movies data

In [35]:
# Function to run a query
def run_query(query):
    with driver.session() as session:
        session.run(query)

# Query to delete all nodes and relationships
delete_query = "MATCH (n) DETACH DELETE n"

# Run the delete query
run_query(delete_query)

print("All nodes and relationships have been deleted.")

All nodes and relationships have been deleted.

In [36]:
import csv

In [37]:
# Function to load persons data
def load_persons():
    with open('persons.csv', 'r') as file:
        reader = csv.DictReader(file)
        with driver.session() as session:
            for row in reader:
                session.run("CREATE (p:Person {id: $id, name: $name})",
                            id=row['id'], name=row['name'])
    print("Persons data loaded successfully.")

# Function to load movies data
def load_movies():
    with open('movies.csv', 'r') as file:
        reader = csv.DictReader(file)
        with driver.session() as session:
            for row in reader:
                session.run("CREATE (m:Movie {id: $id, title: $title, country: $country, year: $year})",
                            id=row['id'], title=row['title'], country=row['country'], year=row['year'])
    print("Movies data loaded successfully.")

In [38]:
# Function to load roles data and create relationships between Person and Movie nodes
def load_roles():
    with open('roles.csv', 'r') as file:
        reader = csv.DictReader(file)
        with driver.session() as session:
            for row in reader:
                session.run("""
                    MATCH (p:Person {id: $personId}), (m:Movie {id: $movieId})
                    CREATE (p)-[:ACTED_IN {role: $role}]->(m)
                """, personId=row['personId'], movieId=row['movieId'], role=row['role'])
    print("Roles and relationships loaded successfully.")

In [39]:
# Load all data
def load_data():
    load_persons()
    load_movies()
    load_roles()

# Run the script to load the data
load_data()

Persons data loaded successfully.
Movies data loaded successfully.
Roles and relationships loaded successfully.

In [40]:
# Function to run a query
def run_query(query):
    with driver.session() as session:
        result = session.run(query)
        for record in result:
            print(record)

In [41]:
# Query 1: All persons
print("All Persons:")
run_query("MATCH (p:Person) RETURN p")

All Persons:
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:10' labels=frozenset({'Person'}) properties={'name': 'Charlie Sheen', 'id': '1'}>>
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:11' labels=frozenset({'Person'}) properties={'name': 'Michael Douglas', 'id': '2'}>>
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:12' labels=frozenset({'Person'}) properties={'name': 'Martin Sheen', 'id': '3'}>>
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:13' labels=frozenset({'Person'}) properties={'name': 'Morgan Freeman', 'id': '4'}>>

In [42]:
# Query 2: All movies
print("\nAll Movies:")
run_query("MATCH (m:Movie) RETURN m")

All Movies:
<Record m=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:14' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1987', 'id': '1', 'title': 'Wall Street'}>>
<Record m=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:15' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1995', 'id': '2', 'title': 'The American President'}>>
<Record m=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:16' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1994', 'id': '3', 'title': 'The Shawshank Redemption'}>>

In [43]:
# Query 3: All relationships (ACTED_IN)
print("\nAll Relationships (ACTED_IN):")
run_query("MATCH (p:Person)-[r:ACTED_IN]->(m:Movie) RETURN p, r, m")

All Relationships (ACTED_IN):
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:10' labels=frozenset({'Person'}) properties={'name': 'Charlie Sheen', 'id': '1'}> r=<Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1152923703630102538' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:10' labels=frozenset({'Person'}) properties={'name': 'Charlie Sheen', 'id': '1'}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:14' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1987', 'id': '1', 'title': 'Wall Street'}>) type='ACTED_IN' properties={'role': 'Bud Fox'}> m=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:14' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1987', 'id': '1', 'title': 'Wall Street'}>>
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:11' labels=frozenset({'Person'}) properties={'name': 'Michael Douglas', 'id': '2'}> r=<Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1152923703630102539' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:11' labels=frozenset({'Person'}) properties={'name': 'Michael Douglas', 'id': '2'}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:14' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1987', 'id': '1', 'title': 'Wall Street'}>) type='ACTED_IN' properties={'role': 'Gordon Gekko'}> m=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:14' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1987', 'id': '1', 'title': 'Wall Street'}>>
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:11' labels=frozenset({'Person'}) properties={'name': 'Michael Douglas', 'id': '2'}> r=<Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1155175503443787787' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:11' labels=frozenset({'Person'}) properties={'name': 'Michael Douglas', 'id': '2'}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:15' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1995', 'id': '2', 'title': 'The American President'}>) type='ACTED_IN' properties={'role': 'President Andrew Shepherd'}> m=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:15' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1995', 'id': '2', 'title': 'The American President'}>>
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:12' labels=frozenset({'Person'}) properties={'name': 'Martin Sheen', 'id': '3'}> r=<Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1152923703630102540' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:12' labels=frozenset({'Person'}) properties={'name': 'Martin Sheen', 'id': '3'}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:14' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1987', 'id': '1', 'title': 'Wall Street'}>) type='ACTED_IN' properties={'role': 'Carl Fox'}> m=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:14' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1987', 'id': '1', 'title': 'Wall Street'}>>
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:12' labels=frozenset({'Person'}) properties={'name': 'Martin Sheen', 'id': '3'}> r=<Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1155175503443787788' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:12' labels=frozenset({'Person'}) properties={'name': 'Martin Sheen', 'id': '3'}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:15' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1995', 'id': '2', 'title': 'The American President'}>) type='ACTED_IN' properties={'role': 'A.J. MacInerney'}> m=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:15' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1995', 'id': '2', 'title': 'The American President'}>>
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:13' labels=frozenset({'Person'}) properties={'name': 'Morgan Freeman', 'id': '4'}> r=<Relationship element_id='5:d0d3f0af-4e3a-4953-8d37-f60e14f01827:1152923703630102541' nodes=(<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:13' labels=frozenset({'Person'}) properties={'name': 'Morgan Freeman', 'id': '4'}>, <Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:16' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1994', 'id': '3', 'title': 'The Shawshank Redemption'}>) type='ACTED_IN' properties={'role': "Ellis Boyd 'Red' Redding"}> m=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:16' labels=frozenset({'Movie'}) properties={'country': 'USA', 'year': '1994', 'id': '3', 'title': 'The Shawshank Redemption'}>>

In [44]:
# Query 4: Specific Person by Name
print("\nSpecific Person (Charlie Sheen):")
run_query("MATCH (p:Person {name: 'Charlie Sheen'}) RETURN p")

Specific Person (Charlie Sheen):
<Record p=<Node element_id='4:d0d3f0af-4e3a-4953-8d37-f60e14f01827:10' labels=frozenset({'Person'}) properties={'name': 'Charlie Sheen', 'id': '1'}>>

In [45]:
# Query 5: Movies acted by Charlie Sheen
print("\nMovies acted by Charlie Sheen:")
run_query("MATCH (p:Person {name: 'Charlie Sheen'})-[r:ACTED_IN]->(m:Movie) RETURN m.title AS Movie, r.role AS Role")

Movies acted by Charlie Sheen:
<Record Movie='Wall Street' Role='Bud Fox'>

#### using langchain

In [46]:
from langchain_neo4j import Neo4jGraph

In [47]:
kg = Neo4jGraph(
    url     = NEO4J_URI, 
    username= NEO4J_USERNAME, 
    password= NEO4J_PASSWORD, 
    database= 'neo4j'
)

In [48]:
cypher = """
  MATCH (n) 
  RETURN count(n)
  """

In [49]:
result = kg.query(cypher)
result

[{'count(n)': 7}]